@using PagedList;
@using PagedList.Mvc;
@model IPagedList<StudentsManagment.Models.student>

@helper Truncate(string input, int length)
{
if (input != null)
{
    if (input.Length <= length)
    {
            @input
    }
    else {
            @input.Substring(0, length)<text>...</text>
    }
}

}

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New Student", "Create")
</p>
<table class="table" border="1"  >
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.First().First_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Last_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Date_of_birth)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Student_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Description)
        </th>
        <th>
            Action
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.First_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Last_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date_of_birth)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Student_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.City)
        </td>
        <td >
           @Truncate(item.Description, 50)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id },new {onclick = "return confirm('Are you sure you want to delete student'"+item.First_name+" "+item.Last_name+")" })
        </td>
    </tr>
}
</table>
@Html.PagedListPager(Model,page =>Url.Action("Index",new {page}))
